@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">

    <div class="item active ">
        <img src="https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/26239301_1751810361560538_205836665886954483_n.jpg?_nc_cat=110&_nc_ht=scontent-ort2-1.xx&oh=a5c8ac472c5b63d06c5f61e8ae458272&oe=5C650E02" alt="ASP.NET" class="img-responsive" width="100%" />
        <div class="container">
            <p class="lead text-mu-home text-center">
                DISCOVER THE COMMUNITY
                #1 Designer Shop
            </p>
        </div>
    </div>
</div>
<hr />

<!--- Start Portfolio Section -->
<div id="portfolio" class="offset">

    <div class="container-fluid padding">

        <h3 class="heading">Our Shop</h3>
        <div class="heading-underline"></div>

        <!--- Start Portfolio Grid -->
        <div class="row no-padding">

            <div class="col-md-6">
                <div class="portfolio-item">
                    <a href="img/portfolio/1.png" data-lightbox="example-set" data-title="My Portfolio Image Description">
                        <img class="example-image" src="img/portfolio/1.png" alt="">
                    </a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="portfolio-item">
                    <a href="img/portfolio/2.png" data-lightbox="example-set">
                        <img class="example-image" src="img/portfolio/2.png" alt="">
                    </a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="portfolio-item">
                    <a href="img/portfolio/3.png" data-lightbox="example-set">
                        <img class="example-image" src="img/portfolio/3.png" alt="">
                    </a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="portfolio-item">
                    <a href="img/portfolio/4.png" data-lightbox="example-set">
                        <img class="example-image" src="img/portfolio/4.png" alt="">
                    </a>
                </div>
            </div>

        </div> <!--- End Row -->
        <!--- End Portfolio Grid -->
    </div> <!--- End Container -->

    <div class="narrow text-center padding">
        <h3 class="lead">WE'VE GOT YOUR BACK</h3>
        <div class="center-block">
            <a asp-action="Create" asp-controller="Sales" class="btn btn-secondary">Sell on ZEEN</a>
        </div>
    </div>

</div>
<!--- End Portfolio Section -->




