@model _ZEEN.Models.ViewModels.SellerViewModel

@{
    ViewData["Title"] = "Delete";
}


<h3 class="mt-6">Are you sure you want to Cancel this Order</h3>
<div>
   
    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.sale.Detail)
        </dt>


        <dd>
            @Html.DisplayFor(model => model.sale.Detail)
        </dd>
       
      
    </dl>

    <form asp-action="CancelOrders">
        <input type="submit" value="Yes" class="btn btn-default" /> |
        <a asp-action="Index" class="btn btn-danger">No</a>
    </form>
</div>
