@model _ZEEN.Models.Messages

@{
    ViewData["Title"] = "Delete";
}


<div>
    <div class="well-lg">
        <h5 style="color:red"><strong> Are you sure you want to Remove this Message </strong></h5>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Message)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Message)
            </dd>
        </dl>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />

        <input type="submit" value="Delete" class="btn btn-danger" />
        <button class=" btn btn-info" asp-action="Index">
            Cancel

        </button>
    </form>
</div>
